<div class="row mt-5">
  <div class="col-md-6 m-auto"> 
    <div class="card card-body">
      <h1 class="text-center mt-3">Login</h1>

    <form action="/users/login" method="POST">
      <div class="mb-3">
        <label for="email" class="mb-2">Email</label>
        <input type="email" name="email" id="email" class="form-control" placeholder="Enter Email">
      </div>
      <div class="mb-3">
        <label for="password" class="mb-2">Password</label>
        <input type="password" name="password" id="password" class="form-control" placeholder="Enter Password">
      </div>

      <div class="d-grid mt-5 mb-2">
        <button type="submit" class="btn text-light" style="background-color:#4d5bb0">Login</button>
      </div>
      <div class="d-grid mb-2">
        <a href="/auth/facebook" class="btn btn-primary">Facebook Login</a>
      </div>
      
    </form>
    <p class="lead mt-4">
      No Account? <a href="/users/register">Register</a>
    </p>
    </div>
  </div>
</div>